*
{
	margin:						0;
	padding:					0;
	font-size: 					10px;
}

body
{
	
}

/********* WRAPPER SECTIONS *********/

#WRA02
{
	background-image: 			url("../ASSETS/IMAGES/BACKGROUNDS/LANDSCAPES/BGL_MOONRISE_450-600_V1.jpg");
}

#WRA01
{
	display:					flex;
	flex-direction: 			column;
	justify-content: 			center;
	align-items: 				center;		
	
	height:						100vh;
	
	background-image: 			url("../ASSETS/IMAGES/BACKGROUNDS/LANDSCAPES/BGL_MOONRISE_450-600_V1.jpg");
	background-repeat:			no-repeat;
	background-size: 			cover;
	
	z-index: 					-999;
	
}

#LOC02
{
	display:					flex;
	flex-direction: 			column;
	align-items: 				center;
	justify-content: 			space-between;
}

#LOC01
{
	display:					flex;
	flex-direction: 			column;
	justify-content: 			center;
	align-items: 				center;
	
	height:						100vh;
	width:						100vw;
	
	background-image: 			url("../ASSETS/IMAGES/BACKGROUNDS/LANDSCAPES/BGL_MOONRISE_450-600_V1.jpg");
	background-repeat:			no-repeat;
	background-size: 			cover;
	background-color: 			#303030;
	background-blend-mode: 		multiply;
}


.LOGT01
{
	height:						20vh;
}


.H2T01
{
	display:					none;
	color: 						white;
	font-family: 				impact;
	font-size: 					6.5rem;
	opacity: 					.45;
	text-shadow: 				2px 2px black;
}

.H2T02
{
	font-family: 				audiowide, cursive;
	font-size:					4rem;
	color: 						gray;
}

#H204
{
	display:					none;
	color:						#1B6AB8;
}

#LOG01
{
	display:					none;
}

