*
{
	margin:						0;
	padding:					0;
	font-size: 					10px;
}

body
{
	
}

/********* WRAPPER SECTIONS (WRAxx) *********/

#WRA01
{
	display:					flex;
	flex-direction: 			column;
	justify-content: 			center;
	align-items: 				center;		
	
	height:						100vh;
	
	background-image: 			url("../ASSETS/IMAGES/BACKGROUNDS/LANDSCAPES/BGL_MOONRISE_450-600_V1.jpg");
	background-repeat:			no-repeat;
	background-size: 			cover;
	
	z-index: 					-999;
	
}

#WRA02
{
	display:						none;	
	height:							100vh;
	width:							100vw;
	
	background-image: 				url("../ASSETS/IMAGES/BACKGROUNDS/LANDSCAPES/BGL_MOONRISE_450-600_V1.jpg");
	background-repeat:				no-repeat;
	background-size:				cover;
}

/********* LAYOUT CONTAINERS (LOCxx) *********/

#LOC01
{
	display:					flex;
	flex-direction: 			column;
	justify-content: 			center;
	align-items: 				center;
	
	height:						100vh;
	width:						100vw;
	
	background-image: 			url("../ASSETS/IMAGES/BACKGROUNDS/LANDSCAPES/BGL_MOONRISE_450-600_V1.jpg");
	background-repeat:			no-repeat;
	background-size: 			cover;
	background-color: 			#303030;
	background-blend-mode: 		multiply;
}


#LOC02
{
	display:						grid;
	grid-template-rows: 			repeat(12, 1fr);
	grid-template-columns: 			repeat(12, 1fr);
		
	height:							100vh;
	width:							100vw
}





/********* LOGOS (.LOGTxx & #LOGxx) *********/

.LOGT01
{
	height:						20vh;
}

#LOG01
{
	display:					none;
}


/********* HEADINGS (.HxTxx) & #Hxxx *********/

.H2T01
{
	display:					none;
	color: 						white;
	font-family: 				impact;
	font-size: 					6.5rem;
	opacity: 					.45;
	text-shadow: 				2px 2px black;
}

.H2T02
{
	font-family: 				audiowide, cursive;
	font-size:					4rem;
	color: 						gray;
}


.H3T01
{
	font-family:				audiowide, cursive;
	font-size:					1.25rem;
	color:						gray;
}

.H3T02
{
	font-family: 				'Monsieur La Doulaise', cursive;
	font-size: 					3.5rem;
	color:						gray;
}




#H204
{
	display:					none;
	color:						#1B6AB8;
}


.BOX
{
	display:					flex;
	justify-content: 			center;
	align-items: 				center;
	
	
		
	font-family:				impact;
	font-size:					5rem;
	color: darkslategrey;
	

}


#BOX01
{
	grid-row:					1/7;
	grid-column: 				1/7;
	
	display:					none;
	justify-content: 			center;
	align-items: 				center;
	
	background-color:			darkblue;
	opacity:					.4;
	
}


#BOX02
{
	
	grid-row:					1/7;
	grid-column: 				7/13;
	
	display:					none;
	justify-content: 			center;
	align-items: 				center;
	
	background-color:			#303030;
	opacity:					.4;
}

#BOX03
{
	
	grid-row:					7/13;
	grid-column: 				1/7;
	
	
	display:					none;
	justify-content: 			center;
	align-items: 				center;
	
	background-color:			#303030;
	opacity:					.4;
}

#BOX04
{
	display:					none;
	grid-row:					7/13;
	grid-column:				7/13;
	
	justify-content: 			center;
	align-items: 				center;
	
	background-color:			darkblue;
	opacity:					.4;
}

#BOX05
{
	display:					none;
	
	grid-row: 					4/10;
	grid-column: 				2/12;
	
	flex-direction: 			column;
	justify-content: 			space-between;
	align-items: 				center;
	
	border-radius: 				1rem;
	padding:					2rem;
	z-index: 					999;
	
	
	background-image:			url("../ASSETS/IMAGES/BACKGROUNDS/13053539_m.jpg");
	
	
	color:						white;
	
}


#PH01
{
	
	width:						60%;
}



